.about-section-container {
  color: #F2F2F2 !important;
  position: relative !important;
  padding-top: 60px;
  padding-bottom: 20px;
  .about-me-tech-stack {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    .about-tech-stack-header {
      color: #F2F2F2;
    }

    .about-tech-stack-header-span {
      color: #ac69bc;
    }

    .about-tech-stack-more {
      font-size: 36px;
      padding: 50px;
    }
  }
  .about-me-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-me-row {
    padding-top: 100px;
    .about-me-text {
        text-align: center;
        font-size: 28px;
    }
  }
}

.purple-colored-text {
    color: #ac69bc;
}
