.logo {
  height: 60px;
  width: 60px;
}

.navbar-container {
  padding-left: 0px !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.4s ease-in 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

// .navbar-nav {
//   background-color: #000000;
// }

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-nav .nav-item {
  margin: 15px !important;
}

.navbar-nav .nav-link {
  color: #f2f2f2 !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.nav-link {
  padding: 0.5rem 0.5rem !important;
  svg {
    padding-right: 1rem !important;
    // &:hover {
    //   color: #ac69bc !important;
    // }
  }
}

.sticky {
  background-color: #000000 !important;
  // transition: all 0.5s ease-out 1s!important;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  z-index: 21;
  display: block;
  height: 6px;
  width: 0;
  border-radius: 12px;
  background: #ac69bc;
  bottom: 2px;
  top: 5px;
  left: 0;
  transition: all 0.3s ease-in 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .navbar {
    // background-color: #000000;
    .navbar-nav .nav-item a:hover::after {
      width: 35%;
      left: 35%;
    }
  }
}
