.footer-container{
    padding: 10px 0px;
    // color:  #E5E5E5;
    // color: #FFBB0B;
    // color: #FFBB0E;
    // color: #FAAFCC;
    color: #FFFFFF;
}

.footer-social {
    h4{
        text-align: center!important;
    }
    ul{
        list-style: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            padding: 10px 15px;
            svg{
                &:hover{
                    color: #FAAFCC;
                    cursor: pointer;
                }
            }
        }
    }
}

.footer-copyrights {
    text-align: center!important;
    padding: 10px 15px;
}
  
.footer-body {
    text-align: center!important;
    padding: 10px 15px;
}


@media (max-width: 767px) {
    .footer-body {
        text-align: center!important;
    }

    .footer-copyrights {
      text-align: center!important;
    }
}